// SASS mixins and SASS variables (must be first @use rules)
@use '@baloise/ds-styles/sass/mixins';
@use 'styles/_vars' as vars;

// Resets CSS for all browser
@use '@baloise/ds-styles/css/normalize';
@use '@baloise/ds-styles/css/structure';

// Custom font faces
@use '@baloise/ds-styles/css/font';

// Core CSS with CSS variables, always required
@use '@baloise/ds-styles/css/core';

// CSS utilities classes (optional)
@use '@baloise/ds-styles/css/utilities/background';
@use '@baloise/ds-styles/css/utilities/border';
@use '@baloise/ds-styles/css/utilities/elevation';
@use '@baloise/ds-styles/css/utilities/flex';
@use '@baloise/ds-styles/css/utilities/interaction';
@use '@baloise/ds-styles/css/utilities/layout';
@use '@baloise/ds-styles/css/utilities/sizing';
@use '@baloise/ds-styles/css/utilities/spacing';
@use '@baloise/ds-styles/css/utilities/typography';

// CSS for tables https://design.baloise.dev/?path=/docs/components-data-display-table--documentation

// Project fonts
@import 'styles/fonts.css';

html {
	font-size: vars.$font-size-default;
	font-family: vars.$font-family-regular;
	background-color: var(#{vars.$color-background-white});
}

body {
	margin: 0px;
}
