CYPRESS_DOWNLOAD_PATH_TEMPLATE=http://artifactory.caser.local/artifactory/caser-generic-local/cypress/cypress.13.5.1.zip
registry=http://artifactory.caser.local/artifactory/api/npm/npm-caser
legacy-peer-deps=true
