@font-face {
	font-family: 'BaloiseCreateText-Black';
	src:
		url('../assets/fonts/BaloiseCreateText-Black.woff2') format('woff2'),
		url('../assets/fonts/BaloiseCreateText-Black.woff2') format('woff2');
}
@font-face {
	font-family: 'BaloiseCreateText-Bold';
	src:
		url('../assets/fonts/BaloiseCreateText-Bold.woff2') format('woff2'),
		url('../assets/fonts/BaloiseCreateText-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'BaloiseCreateText-Light';
	src:
		url('../assets/fonts/BaloiseCreateText-Light.woff2') format('woff2'),
		url('../assets/fonts/BaloiseCreateText-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'BaloiseCreateText-Regular';
	src:
		url('../assets/fonts/BaloiseCreateText-Regular.woff2') format('woff2'),
		url('../assets/fonts/BaloiseCreateText-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'BaloiseCreateHeadline-Black';
	src:
		url('../assets/fonts/BaloiseCreateHeadline-Black.woff2') format('woff2'),
		url('../assets/fonts/BaloiseCreateHeadline-Black.woff2') format('woff2');
}
@font-face {
	font-family: 'BaloiseCreateHeadline-Bold';
	src:
		url('../assets/fonts/BaloiseCreateHeadline-Bold.woff2') format('woff2'),
		url('../assets/fonts/BaloiseCreateHeadline-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'BaloiseCreateHeadline-Light';
	src:
		url('../assets/fonts/BaloiseCreateHeadline-Light.woff2') format('woff2'),
		url('../assets/fonts/BaloiseCreateHeadline-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'BaloiseCreateHeadline-Regular';
	src:
		url('../assets/fonts/BaloiseCreateHeadline-Regular.woff2') format('woff2'),
		url('../assets/fonts/BaloiseCreateHeadline-Regular.woff2') format('woff2');
}
